:root{
  --main: #1DB954
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Spotify';
  font-size: 10px;
}
body{
  width: 100vw;
  overflow: scroll;
}

@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/Gotham-Black.otf');
  font-weight: black;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/GothamBook.ttf');
  font-weight: book;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/Gotham-Light.otf');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/GothamMedium.ttf');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spotify';
  src: url('../../public/assets/fonts/Spotify-Font/Gotham-Thin.otf');
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}
